## 1. üì¶ Create a Tuple
Store 5 fruit names in a tuple and print it.

In [ ]:
# Write your code here

## 2. üîÅ Tuple Repetition
Repeat a tuple `(1, 2, 3)` three times and print the result.

In [ ]:
# Write your code here

## 3. üìê Tuple Slicing
Given a tuple of 10 elements, slice and print the middle 4 elements.

In [ ]:
# Write your code here

## 4. ‚ûï Tuple Concatenation
Concatenate two tuples and print the result.

In [ ]:
# Write your code here

## 5. üîç Check Value in Tuple
Check if 'apple' exists in the tuple of fruits.

In [ ]:
# Write your code here

## 6. üß† Tuple to List Conversion
Convert a tuple to a list, modify the list, and convert back to a tuple.

In [ ]:
# Write your code here

## 7. üìö Tuple Unpacking
Unpack a tuple with 3 items into 3 variables and print them.

In [ ]:
# Write your code here

## 8. üìè Count in Tuple
Count how many times 5 appears in the tuple `(5, 2, 3, 5, 1, 5)`.

In [ ]:
# Write your code here

## 9. üÜö Compare Two Tuples
Write a program to compare two tuples and print whether they are equal.

In [ ]:
# Write your code here

## 10. üîÅ Reverse a Tuple
Reverse the elements in a tuple using slicing.

In [ ]:
# Write your code here

## 11. üìã Create and Print Set
Create a set of unique city names and print it.

In [ ]:
# Write your code here

## 12. ‚ûï Add to Set
Add an element to the set using `add()` and print the updated set.

In [ ]:
# Write your code here

## 13. ‚ûï‚ûï Update Set
Add multiple elements to the set using `update()`.

In [ ]:
# Write your code here

## 14. ‚ùå Remove from Set
Remove an element from the set using `remove()` or `discard()`.

In [ ]:
# Write your code here

## 15. üîÅ Set Operations
Given two sets of numbers, perform union, intersection, and difference.

In [ ]:
# Write your code here

## 16. üì§ Pop from Set
Use `pop()` to remove a random element from a set and print it.

In [ ]:
# Write your code here

## 17. üîç Membership Test
Check if 'Delhi' is in the set of cities.

In [ ]:
# Write your code here

## 18. üßπ Clear a Set
Clear all elements from a set and show the empty set.

In [ ]:
# Write your code here

## 19. ‚ôªÔ∏è Convert List to Set
Convert a list with duplicate numbers into a set and print it.

In [ ]:
# Write your code here

## 20. üö´ Set of Immutable Elements
Create a set of tuples and try to add a list. Handle the error.

In [ ]:
# Write your code here

## 21. üìñ Create a Dictionary
Create a dictionary to store student names and their grades.

In [ ]:
# Write your code here

## 22. üîç Access Dictionary Value
Access the grade of a student using their name (key).

In [ ]:
# Write your code here

## 23. üÜï Add Dictionary Item
Add a new student and grade to the dictionary.

In [ ]:
# Write your code here

## 24. üîÅ Loop through Dictionary
Loop through the dictionary and print all student names and their grades.

In [ ]:
# Write your code here

## 25. üßπ Remove Dictionary Entry
Remove a student from the dictionary using `pop()`.

In [ ]:
# Write your code here

## 26. üß™ Check Key Existence
Check if a student name exists in the dictionary.

In [ ]:
# Write your code here

## 27. üîÅ Dictionary from List
Convert a list of tuples into a dictionary: `[('a',1), ('b',2)]`.

In [ ]:
# Write your code here

## 28. üîÑ Swap Keys and Values
Swap keys and values in a dictionary. Assume values are unique.

In [ ]:
# Write your code here

## 29. üìè Dictionary Length
Print the number of students in the dictionary using `len()`.

In [ ]:
# Write your code here

## 30. üìö Merge Two Dictionaries
Merge two dictionaries of marks and print the updated dictionary.

In [ ]:
# Write your code here

## 31. ‚úçÔ∏è String Reversal
Reverse a user-input string using slicing.

In [ ]:
# Write your code here

## 32. üî† Capitalize Words
Capitalize the first letter of each word in a sentence.

In [ ]:
# Write your code here

## 33. üî§ Count Characters
Count vowels, consonants, digits and spaces in a sentence.

In [ ]:
# Write your code here

## 34. üßΩ Strip Extra Spaces
Remove leading, trailing and extra internal spaces using `strip()` and `split()`.

In [ ]:
# Write your code here

## 35. ü™ì Slice and Extract
Print the first 3 and last 3 characters of a string.

In [ ]:
# Write your code here

## 36. üîç Find and Replace
Find a word in a string and replace it with another.

In [ ]:
# Write your code here

## 37. üîÅ Palindrome Checker
Check whether a given string is a palindrome.

In [ ]:
# Write your code here

## 38. üÜö Compare Strings
Take two strings and compare if they are equal (case insensitive).

In [ ]:
# Write your code here

## 39. üìö Word Frequency Counter
Count how many times each word appears in a sentence.

In [ ]:
# Write your code here

## 40. üìù Basic Text Analyzer
Create a small text analyzer that counts lines, words, characters in a paragraph.

In [ ]:
# Write your code here