## 1. üõí Create a Shopping List
Ask the user to input 5 grocery items and store them in a list using `append()`. Print the list.

In [8]:
shopping_list = []

for i in range(5):
    item = input(f"Enter item {i+1}: ")
    shopping_list.append(item)

print("Your Shopping List:", shopping_list)

Your Shopping List: ['pen', 'buds', 'charger', 'string', 'ipad']

## 2. üìè List Length Calculator
Write a program that takes a list of cities and prints the number of cities using `len()`.

In [10]:
city_list = ['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bengaluru'] 
print(f"Number of cities in this list:{len(city_list)}")

Number of cities in this list:5

## 3. üå°Ô∏è Find Maximum Temperature
Given a list of temperatures for a week, find the highest temperature using `max()`.

In [11]:
temp_list = [38,40,55,45,38,25,44]
print(f"Maximum temperature in this week:{max(temp_list)}")

Maximum temperature in this week:55

## 4. üîÅ Convert Tuple to List
Convert a tuple of vowels `('a', 'e', 'i', 'o', 'u')` into a list using `list()`.

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'u')
vowel_list = list(vowels)

print("Tuple:", vowels)
print("List:", vowel_list)

## 5. üßë‚Äçüéì Student Marks Sorter
Sort a list of student marks in ascending order using `sort()` and print it.

In [28]:
marks = [58,96,65,40,85,45,75,26,49,82,63,68,89,90,95,93,62]
marks.sort()
print(marks)

[26, 40, 45, 49, 58, 62, 63, 65, 68, 75, 82, 85, 89, 90, 93, 95, 96]

## 6. üß™ List Type Checker
Create any list and use `type()` to check and print the data type of the list.

In [31]:
list = [1,"saurav",5.11,True ]
for i in list:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

## 7. üîç Index Finder
From a list of names, find the index of a specific name entered by the user using `index()`.

In [38]:
students = ["Aarav", "Saanvi", "Rahul", "Priya", "Ishaan"]
name = input("Enter the name for which you want to check index")
print(f"The index for this student {name} is {students.index(name)}")

The index for this student Ishaan is 4

## 8. ‚ûï Append Elements Dynamically
Ask the user how many numbers they want to enter, and then append those to a list.

In [42]:
shopping_list = []
n = int(input("Enter number item you want add to list"))
for i in range(n):
    item = input(f"Enter item {i+1}: ")
    shopping_list.append(item)

print("Your Shopping List:", shopping_list)

Your Shopping List: ['pen', 'buds', 'mouse']

## 9. üî¢ Count Occurrences
Count how many times a specific number appears in a given list using `count()`.

In [43]:
marks = [85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]
print(marks.count(90))

2

## 10. üìö Copy a List
Create a list of books and copy it using `copy()`. Show both lists.

In [45]:
books = [
    "NCERT Mathematics Class 10",
    "NCERT Science Class 9",
    "NCERT History Class 8",
    "NCERT Geography Class 7",
    "English Literature - First Flight (Class 10)",
    "Hindi Kritika (Class 10)",
    "Physics Part 1 - Class 12",
    "Chemistry Part 2 - Class 11",
    "Biology Class 12",
    "Economics Class 10",
    "Civics - Democratic Politics (Class 9)"
]
copy_list = books.copy()
print(f"Original list:{books}")
print(f"Copy of list: {copy_list}")

Original list:['NCERT Mathematics Class 10', 'NCERT Science Class 9', 'NCERT History Class 8', 'NCERT Geography Class 7', 'English Literature - First Flight (Class 10)', 'Hindi Kritika (Class 10)', 'Physics Part 1 - Class 12', 'Chemistry Part 2 - Class 11', 'Biology Class 12', 'Economics Class 10', 'Civics - Democratic Politics (Class 9)']
Copy of list: ['NCERT Mathematics Class 10', 'NCERT Science Class 9', 'NCERT History Class 8', 'NCERT Geography Class 7', 'English Literature - First Flight (Class 10)', 'Hindi Kritika (Class 10)', 'Physics Part 1 - Class 12', 'Chemistry Part 2 - Class 11', 'Biology Class 12', 'Economics Class 10', 'Civics - Democratic Politics (Class 9)']

## 11. üßÆ Filter Even Numbers
Use `filter()` and a lambda function to extract all even numbers from a list.

In [2]:
number = [85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]
even_numbers = list(filter(lambda x: x % 2 == 0, number))

print("Original List:", number)
print("Even Numbers:", even_numbers)

Original List: [85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]
Even Numbers: [92, 76, 64, 90, 88, 84, 58, 76, 90]

## 12. üìò Extend List with Subjects
Add multiple subjects to a student‚Äôs subject list using `extend()`.

In [3]:
subjects = ["Maths","Science","Hindi","English","Social Science"]
additional_subject = ["IT","AI","Physical edu"]
subjects.extend(additional_subject)
print(subjects)

['Maths', 'Science', 'Hindi', 'English', 'Social Science', 'IT', 'AI', 'Physical edu']

## 13. ‚Ü™Ô∏è Insert Element at Specific Position
Insert an item into a list at the 3rd position using `insert()`.

In [5]:
item = ['Rice', 'Milk', 'Bread', 'Eggs', 'Sugar']
index = int(input("Enter the index value at you want to add item"))
item_name = input("Enter the item name")
item.insert(index,item_name)
print(f"List after adding new item{item}")

List after adding new item['Rice', 'Milk', 'Bread', 'Oats', 'Eggs', 'Sugar']

## 14. üßπ Remove All Items
Clear a to-do list using `clear()` and show the result.

In [7]:
to_do_list = [
    "Buy groceries",
    "Finish homework",
    "Call Mom",
    "Read a book",
    "Exercise for 30 minutes"
]
to_do_list.clear()
print(to_do_list)

[]

## 15. üì§ Pop Last Element
Create a stack and simulate popping the top element using `pop()`.

In [8]:
stack = [10, 20, 30, 40, 50]

print("Initial stack:", stack)
stack.pop()
print(f"Stack after pop {stack}")

Initial stack: [10, 20, 30, 40, 50]
Stack after pop [10, 20, 30, 40]

## 16. ‚ùå Delete First Occurrence
Remove the first occurrence of the number 7 from a list using `remove()`.

In [10]:
marks = [85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]
marks.remove(90)
print(f"Marks list after removing{marks}")

Marks list after removing[85, 92, 76, 64, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]

## 17. üîÑ Reverse a Playlist
Reverse a list of songs using `reverse()` and print the original and reversed list.

In [16]:
songs = [
    "Mere Gully Mein",
    "Apna Time Aayega",
    "Jungli Sher",
    "Kaam 25",
    "Machayenge",
    "Sher Aaya Sher",
    "Kohinoor",
    "Vibe Hai",
    "Azadi",
    "Bantai",
    "NY Se Mumbai",
    "Gully Gang Cypher",
    "Khatam",
    "So High",
    "Old Skool",
    "47",
    "Selfmade",
    "Bambiha Bole",
    "Just Listen",
    "Warning Shots"
]
print(f"Original Playlist :{songs}")
songs.reverse()
print(f"Playlist after Reversed:{songs}")

Original Playlist :['Mere Gully Mein', 'Apna Time Aayega', 'Jungli Sher', 'Kaam 25', 'Machayenge', 'Sher Aaya Sher', 'Kohinoor', 'Vibe Hai', 'Azadi', 'Bantai', 'NY Se Mumbai', 'Gully Gang Cypher', 'Khatam', 'So High', 'Old Skool', '47', 'Selfmade', 'Bambiha Bole', 'Just Listen', 'Warning Shots']
Playlist after Reversed:['Warning Shots', 'Just Listen', 'Bambiha Bole', 'Selfmade', '47', 'Old Skool', 'So High', 'Khatam', 'Gully Gang Cypher', 'NY Se Mumbai', 'Bantai', 'Azadi', 'Vibe Hai', 'Kohinoor', 'Sher Aaya Sher', 'Machayenge', 'Kaam 25', 'Jungli Sher', 'Apna Time Aayega', 'Mere Gully Mein']

## 18. ü•á Minimum Score in Class
Input a list of scores and print the minimum using `min()`.

In [17]:
marks = [85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]
print(f"Lowest marks in class is:{min(marks)}")

Lowest marks in class is:58

## 19. üî† Sort a List of Words
Sort a list of random words in alphabetical order using `sort()`.

In [24]:
random_words = [
    "storm", "lemon", "victory", "apple", "zenith",
    "dream", "xenon", "kick", "whisper", "electric",
    "horizon", "night", "glow", "cloud", "jungle",
    "thunder", "mystery", "umbrella", "peace", "forest",
    "river", "brave", "quartz", "yellow", "ocean", "island"
]
print(f"List before sorting{random_words}")
random_words.sort()
print(f"List after storting:{random_words}")

List before sorting['storm', 'lemon', 'victory', 'apple', 'zenith', 'dream', 'xenon', 'kick', 'whisper', 'electric', 'horizon', 'night', 'glow', 'cloud', 'jungle', 'thunder', 'mystery', 'umbrella', 'peace', 'forest', 'river', 'brave', 'quartz', 'yellow', 'ocean', 'island']
List after storting:['apple', 'brave', 'cloud', 'dream', 'electric', 'forest', 'glow', 'horizon', 'island', 'jungle', 'kick', 'lemon', 'mystery', 'night', 'ocean', 'peace', 'quartz', 'river', 'storm', 'thunder', 'umbrella', 'victory', 'whisper', 'xenon', 'yellow', 'zenith']

## 20. ‚öñÔ∏è Compare Two Lists
Write a function to compare two lists and return whether they are the same or not.

In [29]:
def list_compare(list_1,list_2):
    if list_1 == list_2:
        print("Both list have same element")
    else:
        print("BOth list are not same")


list_1 = [1,2,3,4]
list_2 = [1,2,3,3]


list_compare(list_1,list_2)

BOth list are not same

## 21. üìè Custom Sort by Length
Given a list of words, sort them by their length.

In [30]:
words = ["apple", "dream", "xenon", "storm", "island", "glow", "umbrella", "kick"]
sorted_by_length = sorted(words, key=len)
print("Original list:")
print(words)
print("Sorted by length:")
print(sorted_by_length)

Original list:
['apple', 'dream', 'xenon', 'storm', 'island', 'glow', 'umbrella', 'kick']
Sorted by length:
['glow', 'kick', 'apple', 'dream', 'xenon', 'storm', 'island', 'umbrella']

## 22. üë©‚Äçüè´ Insert Attendance Status
Insert 'Present' or 'Absent' into an attendance list for 5 students using `insert()`.

In [31]:
attendance = []
n = int(input("Enter the no. of student"))
for i in range(n):
    remarke = input(f"Enter the attendance of student no.{i+1}")
    attendance.insert(i,remarke)

print(f"Final attendance sheet:{attendance}")

Final attendance sheet:['present', 'absent', 'present']

## 23. üß≠ Search for Element
Check whether an input number exists in a list and print its index if found.

In [37]:
ids = [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
        121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 
        141, 142, 143, 144, 145, 146, 147, 148, 149, 150]
user_id = int(input("Enter your id"))
if user_id in ids:
    print(f"Your id is present in system a index value {ids.index(user_id)}")
else:
    print("No id found")

Your id is present in system a index value 1

## 24. üîó Merge Two Lists
Merge two lists using both `+` operator and `extend()` method. Compare results.

In [45]:
list_1 = [1,2,3,4]
list_2 = [5,6,7,8]
print(f"Result by using + operator{list_1 + list_2}")
list_1.extend(list_2)
print(f"Result by using extend method {list_1}")

Result by using + operator[1, 2, 3, 4, 5, 6, 7, 8]
Result by using extend method [1, 2, 3, 4, 5, 6, 7, 8]

## 25. üîÅ Generate Multiples of 3
Generate a list of the first 10 multiples of 3 and reverse the list.

In [47]:
list = []
for i in range(1,11):
    list.append(i*3)
print(f"List of first 10 multiples of 3:{list}")
list.reverse()
print(f"The reverse of list of first 10 multiples of 3:{list}")

List of first 10 multiples of 3:[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
The reverse of list of first 10 multiples of 3:[30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

## 26. üìß Unique Email Collector
Ask users to enter 10 emails. Filter and store only the unique ones using list operations.

In [8]:
emails = []

# Ask user to enter 10 emails
for i in range(10):
    email = input("Enter email: ")
    emails.append(email)

# Remove duplicates using filter
unique = []
def check(email):
    if email not in unique:
        unique.append(email)
        return True
    return False

unique_emails = list(filter(check, emails))

# Print unique emails
print("\nUnique emails:")
for email in unique_emails:
    print(email)

Unique emails:
nvn@gmail.com
v

## 27. üèÜ Top 3 Marks Filter
Given a list of marks, sort and print the top 3 highest using slicing and `sort()`.

In [3]:
marks = [85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]
marks.sort(reverse=True)
print(f"Three Highest Score are :{marks[0:3]}")

Three Highest Score are :[95, 92, 91]

## 28. üóëÔ∏è Remove Duplicates
Remove duplicates from a list manually (without using `set()`).

In [9]:
marks = [85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69, 76, 90, 85]
list_no = []

for i in marks:
    if i not in list_no:
        list_no.append(i)



print(list_no)

[85, 92, 76, 64, 90, 88, 73, 95, 67, 81, 79, 84, 91, 58, 69]

## 29. üó≥Ô∏è Voting Age Validator
From a list of ages, filter out people eligible to vote (age ‚â• 18) using `filter()`.

In [14]:
age = [12, 45, 8, 23, 17, 36, 14, 60, 10, 29, 18, 16, 55, 7, 33, 41, 13, 24, 6, 21, 15, 30, 47, 9, 35, 11, 50, 28, 20, 19, 5, 48, 22, 43, 40, 38, 26, 31, 39, 27]
age_voting = list(filter(lambda x: x >= 18 ,age ))
print(f"Age list of people which are eligibel for voting:{age_voting}")

Age list of people which are eligibel for voting:[45, 23, 36, 60, 29, 18, 55, 33, 41, 24, 21, 30, 47, 35, 50, 28, 20, 19, 48, 22, 43, 40, 38, 26, 31, 39, 27]

## 30. üì¶ Flatten Nested List
Given a nested list `[[1,2], [3,4], [5]]`, flatten it into `[1,2,3,4,5]`.

In [18]:
nested_list = [[1, 2], [3, 4], [5]]
flat_list = []

for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)

print("Flattened list:", flat_list)

Flattened list: [1, 2, 3, 4, 5]

## 31. üë• Find Common Elements
Find common students in two different classes using list operations.

In [20]:
students_group_1 = ["Aarav", "Isha", "Rohan", "Sneha", "Karan", "Pooja", "Aditi", "Ankit", "Riya", "Suresh"]
students_group_2 = ["Riya", "Ankit", "Meena", "Siddharth", "Sneha", "Aman", "Kavya", "Aarav", "Divya", "Raj"]
common_list = []
for i in students_group_1:
    for j in students_group_2:
        if i == j:
            common_list.append(i)

print(f"Common Student in both list are:{common_list}")

Common Student in both list are:['Aarav', 'Sneha', 'Ankit', 'Riya']

## 32. üßÆ Calculate Average from List
Ask user to input numbers into a list. Calculate and print average.

In [22]:
n = int(input("Enter the no. for which you want to know the average"))
list_1 = []
for i in range(n):
    num = int(input(f"Enter the {i+1} number"))
    list_1.append(num)

print(f"The Average of given {n} is: {(sum(list_1))/n}")

The Average of given 5 is: 5.6

## 33. üë´ Split Names by Gender
From a list of names and gender tags, split them into male and female lists.

In [41]:
names = [
    "Aarav", "Isha", "Rohan", "Sneha", "Karan", "Pooja", "Aditi", "Ankit", "Riya", "Suresh",
    "Meena", "Siddharth", "Aman", "Kavya", "Divya", "Raj", "Mohit", "Neha", "Rahul", "Priya"
]
genders = [
    "M", "F", "M", "F", "M", "F", "F", "M", "F", "M",
    "F", "M", "M", "F", "F", "M", "M", "F", "M", "F"
]
male = []
female = []
for i,x in zip(genders,names):
    if i == "M":
        male.append(x)
    else:
        female.append(x)

print(f"Male List:{male}")
print(f"Female List:{female}")

Male List:['Aarav', 'Rohan', 'Karan', 'Ankit', 'Suresh', 'Siddharth', 'Aman', 'Raj', 'Mohit', 'Rahul']
Female List:['Isha', 'Sneha', 'Pooja', 'Aditi', 'Riya', 'Meena', 'Kavya', 'Divya', 'Neha', 'Priya']

## 34. üéì Remove Failing Students
From a list of marks, remove all entries below 33.

In [23]:
marks = [
    45, 67, 22, 89, 30, 76, 49, 15, 90, 28, 60, 55, 12, 33, 31, 25, 47, 80, 29, 38,
    50, 41, 20, 19, 65, 34, 27, 32, 58, 73, 24, 26, 35, 44, 48, 17, 21, 39, 28, 36
]

pass_marks = list(filter(lambda x: x>=33 , marks))
print(f"List of marks which are pass in exam{pass_marks}")

List of marks which are pass in exam[45, 67, 89, 76, 49, 90, 60, 55, 33, 47, 80, 38, 50, 41, 65, 34, 58, 73, 35, 44, 48, 39, 36]

## 35. üß† Filter Based on Condition
Filter students whose names start with a vowel from a list of names.

In [35]:
name = ["Aarav", "Isha", "Rohan", "Sneha", "Karan", "Pooja", "Aditi", "Ankit", "Riya", "Suresh" ,"Riya", "Ankit", "Meena", "Siddharth", "Sneha", "Aman", "Kavya", "Aarav", "Divya", "Raj"]
list_new  = []
for i in name:
    if i[0] not in ["A","E","I","O","U"]:
        list_new.append(i)

print(f"List of student name without vowels{list_new}")

List of student name without vowels['Rohan', 'Sneha', 'Karan', 'Pooja', 'Riya', 'Suresh', 'Riya', 'Meena', 'Siddharth', 'Sneha', 'Kavya', 'Divya', 'Raj']

## 36. üìä Student Gradebook App
Store student names and marks in a list. Print name, mark, and grade (A/B/C) for each.

In [39]:
student_names = [
    "Aarav", "Isha", "Rohan", "Sneha", "Karan", "Pooja", "Aditi", "Ankit", "Riya", "Suresh",
    "Meena", "Siddharth", "Aman", "Kavya", "Divya", "Raj", "Mohit", "Neha", "Rahul", "Priya",
    "Aditya", "Simran", "Tushar", "Preeti", "Yash", "Bhavna", "Nikhil", "Tanvi", "Deepak", "Komal",
    "Gaurav", "Shruti", "Nitin", "Pallavi", "Manish", "Payal", "Vikram", "Reena", "Alok", "Sonam"
]

marks = [
    45, 67, 22, 89, 30, 76, 49, 15, 90, 28,
    60, 55, 12, 33, 31, 25, 47, 80, 29, 38,
    50, 41, 20, 19, 65, 34, 27, 32, 58, 73,
    24, 26, 35, 44, 48, 17, 21, 39, 28, 36
]

for x, i in zip(student_names, marks):
        if i >= 90:
            print(f"{x} score {i} and  grade A+")
        elif 80 <= i <= 90 :
            print(f"{x} score {i} and  grade A")
        elif 70 <= i <= 80 :
            print(f"{x} score {i} and  grade B")
        elif 60 <= i <= 70 :
            print(f"{x} score {i} and  grade C")
        elif 50 <= i <= 60 :
            print(f"{x} score {i} and  grade D")
        elif 33 <= i < 50:
            print(f"{x} scored {i} and got grade E")
        else:
            print(f"{x} scored {i} and got grade F (Fail)")

Aarav scored 45 and got grade E
Isha score 67 and  grade C
Rohan scored 22 and got grade F (Fail)
Sneha score 89 and  grade A
Karan scored 30 and got grade F (Fail)
Pooja score 76 and  grade B
Aditi scored 49 and got grade E
Ankit scored 15 and got grade F (Fail)
Riya score 90 and  grade A+
Suresh scored 28 and got grade F (Fail)
Meena score 60 and  grade C
Siddharth score 55 and  grade D
Aman scored 12 and got grade F (Fail)
Kavya scored 33 and got grade E
Divya scored 31 and got grade F (Fail)
Raj scored 25 and got grade F (Fail)
Mohit scored 47 and got grade E
Neha score 80 and  grade A
Rahul scored 29 and got grade F (Fail)
Priya scored 38 and got grade E
Aditya score 50 and  grade D
Simran scored 41 and got grade E
Tushar scored 20 and got grade F (Fail)
Preeti scored 19 and got grade F (Fail)
Yash score 65 and  grade C
Bhavna scored 34 and got grade E
Nikhil scored 27 and got grade F (Fail)
Tanvi scored 32 and got grade F (Fail)
Deepak score 58 and  grade D
Komal score 73 and  grade B
Gaurav scored 24 and got grade F (Fail)
Shruti scored 26 and got grade F (Fail)
Nitin scored 35 and got grade E
Pallavi scored 44 and got grade E
Manish scored 48 and got grade E
Payal scored 17 and got grade F (Fail)
Vikram scored 21 and got grade F (Fail)
Reena scored 39 and got grade E
Alok scored 28 and got grade F (Fail)
Sonam scored 36 and got grade E

## 37. üìÖ Daily Planner
Create a weekly planner. Let the user add, remove, and view tasks using list operations.

## 38. üé¨ Movie Watchlist
Create a watchlist with `append()`, mark movies as watched using `remove()`, and display the list.

In [3]:
watchlist = []
n = int(input("Enter the number of movie you want to watch "))
for i in range(n):
    name = input(f"Enter the {i+1} movie name")
    watchlist.append(name)


delete = input("Write Yes/No if you want to delete any movie")

if delete.lower() == "yes":
    name_1 = input("Enter the movie name you want to delet")
    watchlist.remove(name_1)
    print(f"Your updated watchlist is here:\n{watchlist}")
else:
    print(f"Your watchlist is here:\n{watchlist}")

Your watchlist is here:
['3 Idiots ', ' Chak De! India  ', 'Zindagi Na Milegi Dobara ']

## 39. üßπ Email Cleaner
Input a list of emails, remove duplicates, remove any containing 'spam', and print the cleaned list.

In [10]:
emails = [
    "rohit.kumar@example.com",
    "isha123@gmail.com",
    "official.job.offer@fastmail.biz",
    "luckywinner$$$@lotto-prize.com",
    "anita.sharma@yahoo.com",
    "getrichnow@spamclicks.net",
    "nisha.patel@outlook.com",
    "freegiftcard2024@scammer.ru",
    "rahul.verma@gmail.com",
    "winiphone14@fakepromo.win",
    "support@trustedshop.in",
    "login-alert@phishing-page.com",
    "priyanka.mehta@protonmail.com",
    "discounts99@buyquick.store",
    "aman.singh@edu.in"
]
for i in emails:
    if  "spam" in i:
        emails.remove(i)


print(f"Here is your final database:\n{emails}")

Here is your final database:
['rohit.kumar@example.com', 'isha123@gmail.com', 'official.job.offer@fastmail.biz', 'luckywinner$$$@lotto-prize.com', 'anita.sharma@yahoo.com', 'nisha.patel@outlook.com', 'freegiftcard2024@scammer.ru', 'rahul.verma@gmail.com', 'winiphone14@fakepromo.win', 'support@trustedshop.in', 'login-alert@phishing-page.com', 'priyanka.mehta@protonmail.com', 'discounts99@buyquick.store', 'aman.singh@edu.in']

## 40. üè• Patient Record System
Each patient has `[name, place, email, age]`. Store multiple patients and retrieve a patient's name & age by index.

In [11]:
# List of patients: each patient is a list [name, place, email, age]
patients = [
    ["Aarav", "Delhi", "aarav@example.com", 34],
    ["Sneha", "Mumbai", "sneha123@gmail.com", 28],
    ["Rohan", "Bangalore", "rohan.k@outlook.com", 45],
    ["Meena", "Kolkata", "meena.mail@yahoo.com", 52],
    ["Aditya", "Pune", "aditya_pune@gmail.com", 39]
]

# Ask user for patient index
index = int(input("Enter patient index (0 to {}): ".format(len(patients)-1)))

# Retrieve and print name and age
if 0 <= index < len(patients):
    patient = patients[index]
    print("Name:", patient[0])
    print("Age:", patient[3])
else:
    print("‚ùå Invalid index")

Name: Meena
Age: 52