## 1. üì¶ Create a Tuple
Store 5 fruit names in a tuple and print it.

In [3]:
tuple_1 = ("Apple","banana","mango","kiwi","orange")
print(tuple)

('Apple', 'banana', 'mango', 'kiwi', 'orange')

## 2. üîÅ Tuple Repetition
Repeat a tuple `(1, 2, 3)` three times and print the result.

In [4]:
t = (1, 2, 3)
repeated = t * 3
print(repeated)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## 3. üìê Tuple Slicing
Given a tuple of 10 elements, slice and print the middle 4 elements.

In [5]:
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
print(my_tuple)
print(f"Middle 4 element of tuple: {my_tuple[3:7]}")

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Middle 4 element of tuple: (40, 50, 60, 70)

## 4. ‚ûï Tuple Concatenation
Concatenate two tuples and print the result.

In [10]:
tuple_1 = (1,2,3,4,5)
tuple_2 = (6,7,8,9,10)
print(tuple_1+tuple_2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## 5. üîç Check Value in Tuple
Check if 'apple' exists in the tuple of fruits.

In [7]:
tuple_1 = ("Apple","banana","mango","kiwi","orange")
for i in tuple_1:
    if i.lower() == "apple":
        print("Apple is in the tuple")
    else:
        print("no apple in tuple")

Apple is in the tuple
no apple in tuple
no apple in tuple
no apple in tuple
no apple in tuple

## 6. üß† Tuple to List Conversion
Convert a tuple to a list, modify the list, and convert back to a tuple.

In [1]:

my_tuple = ("Apple","banana","mango","kiwi","orange")
my_list = list(my_tuple)
print(f"Tuple to List:{my_list}")
my_list.append("Guava")
print(f"List after modification:{my_list}")
tuple_1 = tuple(my_list)
print(f"List to Tuple :{tuple_1}")

Tuple to List:['Apple', 'banana', 'mango', 'kiwi', 'orange']
List after modification:['Apple', 'banana', 'mango', 'kiwi', 'orange', 'Guava']
List to Tuple :('Apple', 'banana', 'mango', 'kiwi', 'orange', 'Guava')

## 7. üìö Tuple Unpacking
Unpack a tuple with 3 items into 3 variables and print them.

In [3]:
info = ("Saurav", 22, "India")

name, age, country = info

print("Name:", name)
print("Age:", age)
print("Country:", country)

Name: Saurav
Age: 22
Country: India

## 8. üìè Count in Tuple
Count how many times 5 appears in the tuple `(5, 2, 3, 5, 1, 5)`.

In [8]:
my_tuple = (5, 2, 3, 5, 1, 5)
s = 0 
for i in my_tuple:
    if i == 5:
        s += 1
    else:
        pass
print(f"Count of number 5 appear is {s}")

Count of number 5 appear is 3

In [9]:
numbers = (5, 2, 3, 5, 1, 5)

count_5 = numbers.count(5)

print(f"Number 5 appears {count_5} times in the tuple.")

Number 5 appears 3 times in the tuple.

## 9. üÜö Compare Two Tuples
Write a program to compare two tuples and print whether they are equal.

In [11]:
tuple_1 = (1,2,3,4,5)
tuple_2 = (6,7,8,9,10)
if tuple_1 == tuple_2:
    print("Both tuple are equal")
else:
    print("Both tuple are not equal")

Both tuple are not equal

## 10. üîÅ Reverse a Tuple
Reverse the elements in a tuple using slicing.

In [12]:
tuple_1 = (1,2,3,4,5)
print(f"Reverse of tuple is:{tuple_1[::-1]}")

Reverse of tuple is:(5, 4, 3, 2, 1)

## 11. üìã Create and Print Set
Create a set of unique city names and print it.

In [2]:
cities = {"Delhi", "Mumbai", "Kolkata", "Chennai", "Bangalore", "Hyderabad", "Ahmedabad", "Pune", "Lucknow"}
print(cities)

{'Hyderabad', 'Ahmedabad', 'Delhi', 'Chennai', 'Lucknow', 'Bangalore', 'Kolkata', 'Mumbai', 'Pune'}

## 12. ‚ûï Add to Set
Add an element to the set using `add()` and print the updated set.

In [3]:
cities.add("Jaipur")
print(cities)

{'Hyderabad', 'Ahmedabad', 'Delhi', 'Chennai', 'Lucknow', 'Bangalore', 'Jaipur', 'Kolkata', 'Mumbai', 'Pune'}

## 13. ‚ûï‚ûï Update Set
Add multiple elements to the set using `update()`.

In [7]:
cities = {"Delhi", "Mumbai", "Kolkata"}
new_cities = ["Chennai", "Bangalore", "Mumbai"]  

cities.update(new_cities)

print(cities)

{'Delhi', 'Chennai', 'Bangalore', 'Kolkata', 'Mumbai'}

## 14. ‚ùå Remove from Set
Remove an element from the set using `remove()` or `discard()`.

In [8]:
cities.remove("Mumbai")
print(cities)

{'Delhi', 'Chennai', 'Bangalore', 'Kolkata'}

## 15. üîÅ Set Operations
Given two sets of numbers, perform union, intersection, and difference.

In [12]:
Set_A =  {2, 4, 6, 8, 10}
Set_B = {5, 6, 7, 8, 9, 10}

print(f"Set A union Set B:{Set_A.union(Set_B)}")
print(f"Set A intersection Set B:{Set_A.intersection(Set_B)}")
print(f"Set A difference Set B:{Set_A.difference(Set_B)}")

Set A union Set B:{2, 4, 5, 6, 7, 8, 9, 10}
Set A intersection Set B:{8, 10, 6}
Set A difference Set B:{2, 4}

## 16. üì§ Pop from Set
Use `pop()` to remove a random element from a set and print it.

In [15]:
Set_A =  {2, 4, 6, 8, 10}
Set_A.pop()

2

## 17. üîç Membership Test
Check if 'Delhi' is in the set of cities.

In [20]:
cities = {"Delhi", "Mumbai", "Kolkata", "Chennai", "Bangalore", "Hyderabad", "Ahmedabad", "Pune", "Lucknow"}
for i in cities:
    if i.lower() == "delhi":
        print("Yes Delhi is present in the set")
    else:
        pass

Yes Delhi is present in the set

## 18. üßπ Clear a Set
Clear all elements from a set and show the empty set.

In [21]:
Set_A = {2, 4, 5, 6, 7, 8, 9, 10}
print(Set_A)
Set_A.clear()
print(f"Set A after clear:{Set_A}")

{2, 4, 5, 6, 7, 8, 9, 10}
Set A after clear:set()

## 19. ‚ôªÔ∏è Convert List to Set
Convert a list with duplicate numbers into a set and print it.

In [24]:
numbers = [10, 20, 30, 20, 40, 50, 30, 60, 70, 10, 80, 90, 60, 100]
print(f"Lsit of Number:{numbers}")
set_1 = set(numbers)
print(f"Set of number is:{set_1}")

Lsit of Number:[10, 20, 30, 20, 40, 50, 30, 60, 70, 10, 80, 90, 60, 100]
Set of number is:{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

## 20. üö´ Set of Immutable Elements
Create a set of tuples and try to add a list. Handle the error.

In [27]:
data = {("A", 1), ("B", 2), ("C", 3)}

print("Original Set:", data)
data.add("5")
print(data)

Original Set: {('C', 3), ('B', 2), ('A', 1)}
{('C', 3), ('B', 2), ('A', 1), '5'}

## 21. üìñ Create a Dictionary
Create a dictionary to store student names and their grades.

In [46]:
student_grades = {
    "Aarav": "A",
    "Isha": "B+",
    "Rohan": "A+",
    "Sneha": "B",
    "Karan": "C",
    "Pooja": "A",
    "Ankit": "B+",
    "Neha": "A",
    "Rahul": "C+",
    "Priya": "B"
}

print(student_grades)

{'Aarav': 'A', 'Isha': 'B+', 'Rohan': 'A+', 'Sneha': 'B', 'Karan': 'C', 'Pooja': 'A', 'Ankit': 'B+', 'Neha': 'A', 'Rahul': 'C+', 'Priya': 'B'}

## 22. üîç Access Dictionary Value
Access the grade of a student using their name (key).

In [47]:
print(student_grades.get("Aarav"))
print(student_grades.get("Isha"))

A
B+

## 23. üÜï Add Dictionary Item
Add a new student and grade to the dictionary.

In [48]:
student_grades["Saurav"] = "A+"
print(student_grades)

{'Aarav': 'A', 'Isha': 'B+', 'Rohan': 'A+', 'Sneha': 'B', 'Karan': 'C', 'Pooja': 'A', 'Ankit': 'B+', 'Neha': 'A', 'Rahul': 'C+', 'Priya': 'B', 'Saurav': 'A+'}

## 24. üîÅ Loop through Dictionary
Loop through the dictionary and print all student names and their grades.

In [49]:
for i in student_grades:
    print(i,student_grades.get(i))

Aarav A
Isha B+
Rohan A+
Sneha B
Karan C
Pooja A
Ankit B+
Neha A
Rahul C+
Priya B
Saurav A+

## 25. üßπ Remove Dictionary Entry
Remove a student from the dictionary using `pop()`.

In [50]:
print(student_grades.pop("Neha"))
print(student_grades)

A
{'Aarav': 'A', 'Isha': 'B+', 'Rohan': 'A+', 'Sneha': 'B', 'Karan': 'C', 'Pooja': 'A', 'Ankit': 'B+', 'Rahul': 'C+', 'Priya': 'B', 'Saurav': 'A+'}

## 26. üß™ Check Key Existence
Check if a student name exists in the dictionary.

In [52]:
name = input("Enter student name to check: ")

if name in student_grades:
    print(f"{name} exists in the dictionary with grade: {student_grades[name]}")
else:
    print(f"{name} does not exist in the dictionary.")

Saurav exists in the dictionary with grade: A+

## 27. üîÅ Dictionary from List
Convert a list of tuples into a dictionary: `[('a',1), ('b',2)]`.

In [55]:
list = [('a',1), ('b',2)]
my_dict = dict(list)
print(my_dict)

{'a': 1, 'b': 2}

## 28. üîÑ Swap Keys and Values
Swap keys and values in a dictionary. Assume values are unique.

In [10]:
student_grades = {
    "Aarav": "A",
    "Isha": "B+",
    "Rohan": "A+",
    "Sneha": "B",
    "Karan": "C",
    "Pooja": "A",
    "Ankit": "B+",
    "Neha": "A",
    "Rahul": "C+",
    "Priya": "B"
}
new_dict = {}

for i in student_grades:
    new_dict[student_grades[i]] = i

print(new_dict)

{'A': 'Neha', 'B+': 'Ankit', 'A+': 'Rohan', 'B': 'Priya', 'C': 'Karan', 'C+': 'Rahul'}

## 29. üìè Dictionary Length
Print the number of students in the dictionary using `len()`.

In [56]:
student_grades = {
    "Aarav": "A",
    "Isha": "B+",
    "Rohan": "A+",
    "Sneha": "B",
    "Karan": "C",
    "Pooja": "A",
    "Ankit": "B+",
    "Neha": "A",
    "Rahul": "C+",
    "Priya": "B"
}

print(len(student_grades))

10

## 30. üìö Merge Two Dictionaries
Merge two dictionaries of marks and print the updated dictionary.

In [11]:
math_marks = {
    "Aarav": 78,
    "Isha": 88,
    "Rohan": 92,
    "Sneha": 66,
    "Pooja": 81
}

science_marks = {
    "Aarav": 85,
    "Isha": 79,
    "Rohan": 95,
    "Sneha": 74,
    "Pooja": 90
}

merge_dict = {}

for i in math_marks:
    merge_dict[i] = [math_marks[i] , science_marks[i]]

print(merge_dict)

{'Aarav': [78, 85], 'Isha': [88, 79], 'Rohan': [92, 95], 'Sneha': [66, 74], 'Pooja': [81, 90]}

## 31. ‚úçÔ∏è String Reversal
Reverse a user-input string using slicing.

In [12]:
string = input("Enter string you want to reverse")
print(f"Reverse of the string is:{string[::-1]}")

Reverse of the string is:vaday varuaS

## 32. üî† Capitalize Words
Capitalize the first letter of each word in a sentence.

In [13]:
sentence = "india is my country and I love it"
capitalized = sentence.title()

print("Original:", sentence)
print("Capitalized:", capitalized)

Original: india is my country and I love it
Capitalized: India Is My Country And I Love It

## 33. üî§ Count Characters
Count vowels, consonants, digits and spaces in a sentence.

In [18]:
sentence = "India is 75 years old in 2022."

# Initialize counters
vowels = 0
consonants = 0
digits = 0
spaces = 0

# Convert to lowercase for easy matching
for char in sentence.lower():
    if char in 'aeiou':
        vowels += 1
    elif char.isalpha():
        consonants += 1
    elif char.isdigit():
        digits += 1
    elif char.isspace():
        spaces += 1

print("Vowels:", vowels)
print("Consonants:", consonants)
print("Digits:", digits)
print("Spaces:", spaces)

Vowels: 8
Consonants: 9
Digits: 6
Spaces: 6

## 34. üßΩ Strip Extra Spaces
Remove leading, trailing and extra internal spaces using `strip()` and `split()`.

In [20]:
sentence = "   This   is  an    example   sentence.  "

# Step 1: strip() removes leading and trailing spaces
# Step 2: split() splits the string into words by whitespace (any number of spaces)
# Step 3: join() combines the words back with a single space between them
cleaned_sentence = ' '.join(sentence.strip().split())

print(cleaned_sentence)

This is an example sentence.

## 35. ü™ì Slice and Extract
Print the first 3 and last 3 characters of a string.

In [22]:
string = input("Enter the string")
print(f"First 3 character:{string[0:3]}")
print(f"Last 3 character:{string[-3:]}")

First 3 character:Sau
Last 3 character:dav

## 36. üîç Find and Replace
Find a word in a string and replace it with another.

In [24]:
string = "Learning Python is fun and rewarding."
new_string = string.replace("is","is not")
print(new_string)

Learning Python is not fun and rewarding.

## 37. üîÅ Palindrome Checker
Check whether a given string is a palindrome.

In [25]:
word = input("Enter the wrod you want to check")

if word == word[::-1]:
    print(f"Yes the given word is Palindrome")
else:
    print(f"No, given word is not is palindrome")

Yes the given word is Palindrome

## 38. üÜö Compare Strings
Take two strings and compare if they are equal (case insensitive).

In [26]:
string_1 = input("Enter the string 1")
string_2 = input("Enter the String 2")

if string_1 == string_2:
    print("Both string are equal")
else:
    print("Both string are not equal")

Both string are not equal

## 39. üìö Word Frequency Counter
Count how many times each word appears in a sentence.

In [31]:
sentence = "this is a test this test is simple"
words = sentence.split()

for word in set(words):
    print(f"{word}: {words.count(word)}")

this: 2
is: 2
test: 2
simple: 1
a: 1

## 40. üìù Basic Text Analyzer
Create a small text analyzer that counts lines, words, characters in a paragraph.

In [33]:
text = """This is a sample paragraph.
It has multiple lines.
Each line has words and characters."""


lines = text.splitlines()


words = text.split()


characters = len(text)

print("Lines:", len(lines))
print("Words:", len(words))
print("Characters:", characters)

Lines: 3
Words: 15
Characters: 86